<ion-header>
  <ion-toolbar class="pink">
    <ion-title>
      Bienvenido, {{usuario1}}!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>Ingrese la siguiente información:</h3>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="number" id="rut"></ion-input>
    </ion-item>
    <mat-card>
      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker #picker color="accent"></mat-datepicker>
        <button mat-raised-button (click)="picker.open()">Elegir fecha</button>
      </ion-item>
    </mat-card>

    
    <ion-button class="ion-margin-top pink" expand="block" routerLink="/resultadoexamenes">Resultado Examenes<mat-icon>poll</mat-icon></ion-button>
    <ion-button class="ion-margin-top pink" expand="block" routerLink="/login">Volver al home<mat-icon>home</mat-icon></ion-button>
